<div ng-controller="found_addressesController">
    <p></p>
    <h3>Каталог адресов</h3>
    <p></p>

    <div class="center_container">
        <div class="filter_form">
            <form novalidate ng-submit="loadFoundAddresses()">
                <div class="form-floating input-group-sm"  style="width: 30%">
                    <input type="text" name="address" class="form-control" id="filterAddress" placeholder="Крипто-адрес" ng-model="filter.address" required>
                    <label for="filterAddress" >Крипто-адрес</label>
                </div>
                <p></p>
                <button class="btn btn-outline-warning btn-sm" style="width: 30%" type="submit">Применить</button>
            </form>
        </div>
        <p></p>
        <div class="addresses_table">
            <table class="table table-hover" style="width: 95%">
                <tr>
<!--                    <td hidden>ID</td>-->
                    <td>Время</td>
                    <td>Тип поиска</td>
                    <td>Название криптовалюты</td>
                    <td>Адрес</td>
                    <td>Контекст</td>
                    <td>Ссылка</td>
                    <td></td>
                </tr>
<!--                <tbody>-->
                <tr ng-repeat="a in FoundAddressesPage.content">
<!--                    <td hidden>{{a.id}}</td>-->
                    <td>{{a.foundTime}}</td>
                    <td>{{a.searchType}}</td>
                    <td>{{a.cryptoName}}</td>
                    <td>{{a.address}}</td>
                    <td>{{a.context}}</td>
                    <td>{{a.source}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="addToBooking(a.id)">Подтвердить</button>
                    </td>
                </tr>
<!--                </tbody>-->
            </table>
            <p></p>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" ng-repeat="pageIndex in paginationArray">
                        <button class="page-link" ng-click="loadFoundAddresses(pageIndex)">{{pageIndex}}</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>